body {
	background-image: url("/assets/images/simple_dashed.png");
	height: 80%;
}

.game {
	margin-top: 50px;
	height: 500px;

}

.content {
	

}

.hangman {
	height: 350px;
}

.word {
	height: 300px;
	padding-top: 80px;
	text-align: center;
}

#guess-word {
	letter-spacing: 15px;
}

.stats {
}

.letters {
	
}

