body {
	background-image: url("/assets/images/simple_dashed.png");
	height: 80%;
}

.game {
	margin-top: 50px;
	height: 500px;
	padding-top: 0;

}

.hangman {
	height: 350px;
}

.word {
	height: 300px;
	padding-top: 80px;
	text-align: center;
}

#car {
	margin: 0;
}

#guess-word {
	letter-spacing: 15px;
}


#alert-banner {
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
	height: 80px;
	visibility: hidden;
	margin-top: 20px;
}

#alert-banner p {
	font-size: 22px;
}

.content {
	margin-top: 50px;
}

